<table class="mediumWrap" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="topLeft"></td>
            <td class="topMiddle"><em><span style="font-size: 116%;"><strong>Common Core/Essential Standards</strong></span></em></td>
            <td class="topRight"></td>
        </tr>
        <tr>
            <td class="leftMiddle"></td>
            <td class="tableTemplateContent"><!-- content area -->              
        <br>
            The Common Core State Standards provide a consistent, clear  understanding of what students are expected to learn, so teachers and  parents know what they need to do to help them. The standards are  designed to be robust and relevant to the real world, reflecting the  knowledge and skills that our young people need for success in college  and careers. With American students fully prepared for the future, our  communities will be best positioned to compete successfully in the  global economy.<br>
            <em>Taken from http://www.corestandards.org/</em><hr>
            Unpacking has been created to be a support tool for the implementation of the Essential Standards.&nbsp; The document, linked to the right, was made to help ensure educators understand the new standards so they may increase student achievement.&nbsp; <hr>
            The Crosswalks docucment, linked to the right, compares the current standard course of study to the newly adopted standards.&nbsp; While not intended to answer all questions, it will aid schools and teachers on internalizing and planning to teach the new standards.<hr>
            </td>
            <!--end tableTemplateContent-->
            <td class="rightMiddle"></td>
        </tr>
        <tr>
            <td class="bottomLeft"></td>
            <td class="bottomMiddle"></td>
            <td class="bottomRight"></td>
        </tr>
    </tbody>
</table>