<center><h3>Inclement Weather Information</h3></center>


<p>There will be times when weather conditions require schools to be closed, the opening of school delayed, or schools to be closed early due to weather/hazardous driving conditions.  The following information is provided as to the process/procedures that we will follow:</p>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#tv" role="tab" data-toggle="tab">Contact</a></li>
  <li><a href="#studentsandstaff" role="tab" data-toggle="tab">Students And Staff</a></li>
  <li><a href="#Workdays" role="tab" data-toggle="tab">Optional Teacher Workdays</a></li>
  <li><a href="#delays" role="tab" data-toggle="tab">Delays</a></li>
  <li><a href="#afterschool" role="tab" data-toggle="tab">After School</a></li>
  <li><a href="#makeup" role="tab" data-toggle="tab">Make Up Days</a></li>
  <li><a href="#earlydismissal" role="tab" data-toggle="tab">Early Dismissal</a></li>
  <li><a href="#more" role="tab" data-toggle="tab">More</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="tv">
    <br/>
    <p>Decisions regarding the closing or delayed opening of school will be made by 6:00 a.m. if at all possible.  The decision will be communicated via Connect Ed as well as the following radio and TV stations and announced by 6:15 a.m.  Information will also be posted at our website, Facebook and Twitter accounts. Dr. Little also announces via his Twitter account. If no announcement is made school will operate on a normal schedule.</p>

    <h5> TV - CABLE </h5>
    <p> 11   WXII TV Winston-Salem
    8    WGHP High Point
    2    WFMY Greensboro
    10   WXLV Winston-Salem</p>


    <h5> RADIO </h5>
    <p> WSYD   Mount Airy 1300 AM  
    WFDD   Winston Salem 88.5 FM
    WPAQ   Mount Airy   740 AM
    WTQR   Winston Salem 104.1 FM </p>
  </div>

  <div class="tab-pane" id="studentsandstaff">
    <br/>
    <p>If school is closed for students and staff, no school based 10-month employees will report to work, 12-month office staff will report to work as soon as travel is safe.  If they are unable to report to work, they will use annual leave/vacation day.</p>
  </div>


  <div class="tab-pane" id="Workdays">
    <br/>
    <p>If school is closed with an optional teacher workday, 10-month employees will report to work at their discretion.   If any employee chooses not to work on an optional day they will use appropriate leave time. </p>
  </div>

  <div class="tab-pane" id="delays">
    <br/>
    <p>If school is delayed all schedules will be delayed the designated amount of time including buses, staff reporting times, student reporting time.  Principals will be responsible for their respective building during the delay. </p>

    <p>Parents are encouraged to have arrangements in place in case of a closing, delay, or early dismissal. </p>
  </div>


  <div class="tab-pane" id="afterschool">
    <br/>
    <p>After school programs will follow the same schedule as announced for the schools. </p>
  </div>


  <div class="tab-pane" id="makeup">
    <br/>
    <p>Make up days for days missed due to inclement weather will follow the make up schedule on the school calendar. </p>
  </div>

  <div class="tab-pane" id="earlydismissal">
    <br/>
    <p>Early dismissal due to inclement weather may be necessary on occasion.  Every effort will be made to make this decision at least an hour before the dismissal. </p>
  </div>

  <div class="tab-pane" id="more">
    <br/>

    <h5> More Information..... </h5>
    <h5> How is a Decision Made and Who Makes the Call? </h5>

    <h5> What factors do we look at in determining to close school? </h5>

    <p> Several factors are considered.  The  most important factor we consider when making this decision is the safety of our students and staff. One of the first factors we take into account are the current conditions.  Is frozen precipitation (snow, sleet, freezing rain) falling?  If so, what is the temperature?  We don't want to start a bus route if frozen precipitation is falling and the temperatures are close to or below freezing.  If no precipitation is currently falling the next factor would be road conditions.  Are the roads too dangerous for travel?  Are there spots or areas that present a hazard to bus and car traffic?  If so, we will not jeopardize the safety of our students and staff members.  We also consider the time of the event.  Will the timing of the event allow us to start school on a two hour delay and allow us to have school and get students and staff home safely? We consider several of these same factors if weather changes after we are already at school.</p> 

    <h5> Do we take forecasts into account? To what extent? What services do we trust for weather news? </h5>

    <p> We consider every piece of information we can gather.  We monitor weather forecasts and the movement of weather systems via the internet, email forecasts, television, and we also speak directly with representatives with the National Weather Service on occasion.  We monitor forecasts and radar from local, state, and national weather centers.  If it appears as if significant winter weather is on the way and we can be proactive and communicate with our students, staff, and parents ahead of time, we do so.  For example, there have been occasions where weather forecasts have indicated a high probability of an impending event and we have decided to delay or close school.  Safety is our number one priority. </p>

    <h5> What process is involved (does someone ride the roads, etc.)? </h5>

    <p> Ultimately, the decision to cancel or delay school rests with the superintendent.  Typically, the decision is made based upon information collected by several people and from several sources.  We have a team of 3 individuals who ride the roads in our system to determine if it is safe to travel to and from school, Bryan Taylor, Larry Davis, and Dr. Little hit the streets on a days where a hazardous weather event is taking place or predicted; they begin routes between 4:00 and 4:30 a.m.  Once the roads have been checked the team meets at the central office at 5:15 to discuss the weather and road conditions in preparation for a decision.  We may also communicate with the city police department, NCDOT, and the NC Highway Patrol regarding road conditions.  Whenever possible, we try to make a decision before 6:00 a.m.  Our first bus routes begin between 6:30 and 6:40 a.m. and a decision must be made prior to beginning bus routes if possible.  Once the decision to close or delay is made, we begin notifying the various media (television, radio, etc.) of our decision.  We also send out a message via our telephone message system (Connect-Ed) to every student's and staff member's contact number. </p>

    <h5> Does being part of the county transportation department shape our decision? </h5>

    <p> Being a part of the county transportation system does not factor into our decision making process.  The county transportation department primarily provides mechanical support of the yellow bus fleet.  They do not make the closing or delay decision for the Mount Airy City Schools, but we do share information.  Superintendents in neighboring school districts often discuss road conditions as we determine what will be the best decision for the day. </p>

    <h5> How is it decided to have delayed opening as opposed to closing all together? </h5>

    <p>We are required to attend school 180 days, therefore, when possible we would prefer to delay instead of close school.  For example, we will consider whether or not the roads will become safer once the sun is up and melting can take place.  Is the temperature expected to rise above freezing as the morning progresses?  However, while a two hour delay will push the start time for students two hours later, buses will begin running routes at roughly 8:15 a.m. instead of 6:15 a.m.  If we call for a two hour delay, there may be times when conditions do not improve and we could then close school, so parents should stay tuned on those mornings.  Again, safety is our number one priority. </p>

    <h5> How do we decide to close early? </h5>

    <p>We begin by monitoring forecasts and conditions.  We ask ourselves several questions: Is bad weather in the area or on the way?  One of the first things we do is tell our bus drivers to be on stand by in the event we have to close school early.  We also have to consider the size and timing of the event.  Will temperatures remain above freezing?  If so, would it be safer to remain at school?  Once a decision to close early is made we begin contacting the schools and bus drivers.  We then contact all media outlets and send out a Connect Ed message (our automated telephone calling system). </p>

    <h5> Summary </h5>
    <p> This is one of the most significant decisions our team makes.  Ultimately, the safety of more than 2000 people (students and staff) is at stake.  Every time a decision about closing or delaying school is made, we recognize not everyone will be happy.  Changing school schedules is inconvenient for everyone, but we will always err on the side of safety for students and staff.  Those big yellow buses are the safest transportation on the road, but we also have staff and students driving smaller vehicles.  Parents entrust us with their most precious assets, their children.  We want parents to know that we are most concerned about what is safest for children and our staff, not what might be inconvenient. </p>

  </div>

































